<!DOCTYPE html>
<html lang="en">
<head>
  <title>Editing Profile!</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
  <link rel="stylesheet" href="/css/editprofile.css">

    <script>
        
        $(document).ready(function(){
           
            
            
            $('#editPro').click(function(err){
                var element = document.getElementById('profName');
                element.innerHTML =$('#changeName').val();
                
                $('#changeName').val('');
                $('#changePass').val('');
                $('#confChangePass').val('');
            });
            
            
        });
    </script>
    

</head>
<body>
<header class = "masthead">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
        <li>
            <img src="/img/logo.png" class = "damien" alt="Damien the Little Worker">
        </li>
          <li class="active"><a href="/dashboard"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        </ul>
  
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
         
      

      </div>
    </div>
  </nav>

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="/img/Reese.jpg" class="avatar" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name" id="profName">
						William Reyes
					</div>
					<div class="profile-usertitle-job">
						
					</div>
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="/profile">
							<i class="glyphicon glyphicon-user"></i>
							 Profile </a>
						</li>
						<li>
							<a href="#" target="#">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			   
           <div class="portlet light bordered">
                                                <!-- STAT -->
                                                <div class="row list-separated profile-stat">
                                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                                        <div class="num uppercase profile-stat-title"> 37 </div>
                                                        <div class="uppercase profile-stat-text"> Projects </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                                        <div class="num uppercase profile-stat-title"> 51 </div>
                                                        <div class="uppercase profile-stat-text"> Tasks </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                                        <div class="num uppercase profile-stat-title"> 61 </div>
                                                        <div class="uppercase profile-stat-text"> Commits </div>
                                                    </div>
                                                </div>
                                                <!-- END STAT -->
                                          </div>                   
                                           
        
        
			</div>
		</div>
		<div class="col-md-9 order-content">
          
		<div class="form_main col-md-4 col-sm-5 col-xs-7">
                <h3 class="heading">My Profile</h3>
                <div class="form">
                <form action="" method="" id="contactFrm" name="contactFrm">
                    <input type="text" required="" placeholder="Name" value="" name="name" class="txt" id="changeName">
                    <input type="password" required="" placeholder="Change Password" value="" name="password" class="txt" id="changePass"><br>
                    <input type="password" required="" placeholder="Confirm Change Password" value="" name="password" class="txt" id="confChangePass"><br>
                    <button type="button" class="btn btn-primary" id="editPro">Update</button>
                </form>
            </div>
            </div>
            
	</div>
		
		
	</div>
</div>
<script type = "text/javascript">
$(".num").counterUp({delay:10,time:1250});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>
